*/
!.gitignore
!.gitmodules
!README.md
!/nvim
!/nvim/lua
!/nvim/lua/plugins
!/nvim/lua/plugins/*
!/tmux
!/wezterm
!/zsh
!/git
!/bin
!/nix
!/nix/*
!/nix/modules
!/nix/modules/*
!/nix/modules/home-manager/*
!/aerospace
!/newsboat
!/avante
